/* You can add global styles to this file, and also import other style files */
@use './styles/material-themes';
@use '@angular/material';

:root {
    --header-size: 40px;
    --mat-tab-header-size: 40px;
    --default-background: 'f8eeca';
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--default-background);
}