<div class="container">
    <h1>Lib Reader</h1>
    <main>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput #username [formControl]="usernameControl" (input)="updateFailedLogin()"/>
            @if (usernameControl.errors?.required) {
                <mat-error>Username is required</mat-error>
            }
        </mat-form-field>
        <div class="passwordContainer">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" #password [formControl]="passwordControl"/>
                @if (usernameControl.errors?.required) {
                    <mat-error>Password is required</mat-error>
                }
            </mat-form-field>
        </div>
        <div class="buttonContainer">
            @if (failedLogin()) { <span class="invalidCredentials">Invalid Username or Password</span> }
            <button mat-flat-button [disabled]="!valid()" (click)="loginWithCredentials()">Login</button>
            <button mat-flat-button>Forgot Password?</button>
            <button class="nav-button" mat-raised-button routerLink="new-account">Create a New Account</button>
            <button class="nav-button" mat-raised-button routerLink="admin">Login as Librarian</button>
        </div>
    </main>
</div>
